$md-max-width: 1200px;
$sm-max-width: 980px;
$xs-max-width: 650px;

/*------------------------
/    RESPONSIVE laptop
-------------------------*/

@media only screen and (max-width: $md-max-width) {
  /*---------------
  /  TITLE laptop
  ----------------*/
}

/*------------------------
/    RESPONSIVE tablet
-------------------------*/

@media only screen and (max-width: $sm-max-width) {
  /*---------------
  /  TITLE tablet
  ----------------*/
}

/*--------------------------
/    RESPONSIVE mob
---------------------------*/

@media only screen and (max-width: $xs-max-width) {
  /*--------------
  /  TITLE mob
  ---------------*/
}
